<div id="auth-title">
  <h1>Phones For Sale</h1>
  <a href="/phones/new">Add a New Room</a>
</div>

<ul>
  <% phones.forEach((onePhone)=>{ %>
    <li>
      <img src="<%= onePhone.imageUrl %>" />
    </li>
    <br></br>
    <li>
      Brand: <%= onePhone.brand %>
    </li>
    <br></br>
    <li>
      Model: <%= onePhone.model %>
    </li>
    <br></br>
    <li>
      Condition: <%= onePhone.condition %>
    </li>
    <br></br>
    <li>
      Color: <%= onePhone.color %>
    </li>
    <br></br>
    <li>
      Memory: <%= onePhone.memory %>
    </li>
    <br></br>
    <li>
      Price: $<%= onePhone.price %>
    </li>
    <br></br>
    <li>
      Provider: <%= onePhone.provider %>
    </li>
    <br></br>
    <li>
      Unlocked: <%= onePhone.unlocked %>
    </li>
    <br></br>
    <li>
      Details: <%= onePhone.additionalDetails %>
    </li>
    <br></br>

  <% }) %>
</ul>
