<div class="section">
<div class="container">

  <div class="row">

    <div class="col-3">
    </div>

    <div id="auth-title" class="col-6">
      <h1><%= user.firstName %>'s Phones For Sale</h1>
      <h3>Total: <%= phones.length %></h3>
      <form id="form" action="/phones/my-phones/search" method="get">
        <input type="text" name="searchTerm"
          placeholder="Search your listings by Brand, Model, Condition, etc.">
        <br><br>

        <div class="row">
          <div class="col-6 search-button">
            <button>Search</button>
          </div>
          <div class="col-6 view-all-button">
            <button>View all</button>
          </div>

        </div>

      </form>
      <form id="form" action="/phones/new" method="get">
        <div class="row">
          <div class="col-12">
            <button class="add-new-button">Add a New Phone</button>
          </div>

        </div>
      </div>
    </form>

    </div>

    <div class="col-3">
    </div>

  </div>

  <% for(let columnCount, index = 0; index < phones.length;columnCount +=1, index+=1 ){ %>
    <div class="row">
    <% if(columnCount % 4 === 0){ %>
      <div class="row">
    <% } %>
    <div class="col-3">
      <div class = "row">
        <div class = "col-6">
          <form id="form" action="/phones/<%= phones[index]._id %>/edit" method="get">
            <button>Edit</button>
          </form>
        </div>
        <div class = "col-6">
          <form id="form" action="/phones/<%= phones[index]._id %>/delete" method="post">
            <button>Delete</button>
          </form>
        </div>
      </div>

      <ul>
        <img src="<%= phones[index].imageUrl %>" />
        <br></br>
        <li>
          Brand: <%= phones[index].brand %>
        </li>
        <br></br>
        <li>
          Model: <%= phones[index].model %>
        </li>
        <br></br>
        <li>
          Condition: <%= phones[index].condition %>
        </li>
        <br></br>
        <li>
          Color: <%= phones[index].color %>
        </li>
        <br></br>
        <li>
          Memory: <%= phones[index].memory %>
        </li>
        <br></br>
        <li>
          Price: $<%= phones[index].price %>
        </li>
        <br></br>
        <li>
          Provider: <%= phones[index].provider %>
        </li>
        <br></br>
        <li>
          Unlocked: <%= phones[index].unlocked %>
        </li>
        <br></br>
        <li>
          Details: <%= phones[index].additionalDetails %>
        </li>
        <br></br>

      </ul>
    </div>

    <% if(columnCount % 4 === 0){ %>
    </div>
  <% } %>
<% } %>

</div>

</div>
</div>
